body {
    background-color: #000000e3;
}

h1 {
    color: #8ACB00;
    text-align: center;
    font-family: 'Tourney';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #8ACB00;
    text-align: center;
    font-family: 'Tourney';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

homebutton {
    background-color: #A349A3;
    color: #FFF;
    height: 5%;
    width: 30%;
    border-radius: 8px;
    font-family: 'Tourney';
    font-size: 36px;
    font-style: normal;
    font-weight: 650;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 2px;
    left: 10px;
}

quiz1button {
    background-color: #3F47CC;
    color: #FFF;
    height: 5%;
    width: 30%;
    border-radius: 8px;
    font-family: 'Tourney';
    font-size: 36px;
    font-style: normal;
    font-weight: 650;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 2px;
    left: 50%;
    margin-left: -15%;
}

level2button {
    background-color: #8ACB00;
    color: #FFF;
    height: 5%;
    width: 30%;
    border-radius: 8px;
    font-family: 'Tourney';
    font-size: 36px;
    font-style: normal;
    font-weight: 650;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 2px;
    right: 10px;
}
