body {
    background-color: #fcfcfc;
}

h1 {
    color: rgb(128, 94, 156);
}

level2button {
    background-color: rgb(249, 221, 250);
    color: black;
    font-size: 36pt;
    position: fixed;
    bottom: 2px;
    right: 10px;
}

homebutton {
    background-color: rgb(249, 221, 250);
    color: black;
    font-size: 36pt;
    position: fixed;
    bottom: 2px;
    left: 10px;
}
